#captcha-container {
    width: 100%;
    height: 44px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

#verification-success {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

#captcha-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: #007bff;
    cursor: pointer;
    background-image: url("./to_right.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}


#target-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-color: #ccc;
    border-radius: 4px;
    opacity: 0.32;
}

#captcha-button {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    color: #0073e6;
    position: relative;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#captcha-button span {
    cursor: pointer;
    user-select: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#verification-circle {
    margin-right: 14px;
    height: 14px;
    width: 14px;
    border: 2px solid #0073e6;
    border-radius: 50%;
    animation: verification-circle-animation 1s ease-in-out infinite;
}

@keyframes verification-circle-animation {
    0% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 0 0 rgba(0, 115, 230, 0.4);
    }

    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 0 0 rgba(0, 115, 230, 0);
    }
}