<div class="popup-container" id="renamePopup">
    <h2 class="popup-title">重命名</h2>
    <div class="popup-input-container">
        <input type="text" class="popup-input" id="popup-rename-input" placeholder="请输入文件（夹）名">
        <select class="popup-select" id="popup-rename-select">
            <option value="folder">文件夹</option>
            <option value="markdown">Markdown文件</option>
        </select>
    </div>
    <div class="popup-button-container">
        <span id="rename-error-message" class="error-message"></span>
        <div class="popup-button-wrapper">
            <button class="popup-button" id="rename-ok">确定</button>
            <button class="popup-button" onclick="closePopup('#renamePopup')">关闭</button>
        </div>
    </div>
</div>
